[Desktop Entry]
Name=Apx Ui
Comment=GUI for Apx
Type=Application
Icon=com.singularityos.apx
Exec=apx-ui %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
